@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    padding: 1rem 5%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerclr);
    z-index: 10000;
}
.header a{
    color: #ffcb0f;
    text-decoration: none;
    margin-top: 7em;
    margin-left: -23em;
    font-size: 20px;
}
#logo{
    color: var(--mainclr);
    font-size: 30px;
    width: 100px;
    height: 100px;
}
.nav a{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    padding: 10px;
}
.nav a:hover{
    color: var(--mainclr);
}
.icon-header div{
    color: white;
    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}
.icon-header div:hover{
    color: var(--mainclr);
}
#menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}
.search-form{
    width: 50%;
    position: absolute;
    top: -110%;
    right: 2rem;
    transition: .2s;
}
.search-form input{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--headerclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-form.active{
    top: 110%;
}
.background-image{
    background: url(images/Construction_bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.inner-back-text{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.inner-back-text h1{
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}
.inner-back-text h1 span{
    color: var(--mainclr);
    text-transform: uppercase;
}
.inner-back-text p{
    color: black;
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 1rem;
}
.inner-back-btn{
    display: flex;
    justify-content: center;
}
.inner-back-btn a{
    margin-right: 1rem;
}
.first-btn, .second-btn{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    border-radius: 15px;
    color: var(--headerclr);
    font-size: 1.5rem;
}
.first-btn:hover, .second-btn:hover{
    background: var(--headerclr);
    color: white;
    letter-spacing: 3px;
}
.welcome{
    padding: 3rem 7%;
}
.main-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-welcome{
    flex: 1 1 45rem;
}
.welcome-text h1{
    font-size: 40px;
    color: var(--mainclr);

}
.welcome-text p{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
}
.welcome-text a{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    color: var(--headerclr);
    font-size: 1.5rem;
    border-radius: 15px;
}
.welcome-text a:hover{
    background: var(--headerclr);
    color: white;
}
.inner-welcome img{
width: 80%;
}
.chose-us{
    padding: 5rem 7%;
    background-color: rgb(135, 236, 226);
}
.chose-us h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    padding: 2rem 1rem;
}
.chose-us h1 span{
    color: var(--mainclr);
}
.chose-text{
    color: var(--headerclr);
    font-size: 1.5rem;
    padding: 1rem 10rem;
    text-align: center;
    margin-bottom: 25px;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}
.inner-chose{
    flex: 1 1 200px;
}
.chose-icon{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 8px solid var(--mainclr);
    border-radius: 100%;
    margin: 0 auto;
}
.chose-icon i{
    font-size: 40px;
    color: white;
    transition: .5s;
}
.chose-icon i:hover{
color: var(--headerclr);
transform: translateY(-25px);
}
.inner-chose h2{
    font-size: 2rem;
    padding: 1rem 0;
}
.inner-chose p{
    font-size: 1.5rem;
    padding: 0 1rem;
}
.our-services{
    padding: 5rem 7%;
}
.our-services h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.our-services h1 span{
    color: var(--mainclr);
}
.main-service{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-service{
    flex: 1 1 300px;
}
.inner-service img{
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.inner-service h2{
    padding: 1rem 0;
    font-size: 2rem;
}
.inner-service p{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.inner-service a{
    padding: 1.5rem 3rem;
    background: var(--mainclr);
    color: var(--headerclr);
    border-radius: 15px;

}
.inner-service a:hover{
    background: var(--headerclr);
    color: white;
}
.our-gallery{
    padding: 4rem 7%;
    background-color: var(--headerclr);
}
.our-gallery h1{
    color: var(--mainclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.our-gallery h1 span{
    color: red;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.inner-gallery{
    flex: 1 1 400px;
}
.inner-gallery img{
    width: 400px;
    height: 300px;
    transition: .5s;
}
.inner-gallery img:hover{
    transform: translateY(-25px);
}
.customer-review{
    padding: 4rem 7%;
}
.customer-review h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.customer-review h1 span{
    color: var(--mainclr);
}
.main-review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-review{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-review:hover{
    background: var(--mainclr);
}
.inner-review:hover i{
    color: white;
}
.inner-review p{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.inner-review img{
    width: 50px;
}
.inner-review i{
    position: absolute;
    font-size: 3rem;
    left: 1rem;
    top: 1rem;
    color: var(--mainclr);
}
.contact{
    padding: 4rem 7%;
    background-color: white;
    background-color: rgb(135, 236, 226);
}
.contact h1{
    color: #222533;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.contact h1 span{
    color: #d18b0a;
    text-transform: uppercase;
}
.main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.inner-contact{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px;
    border: double;
    
}
.inner-contact:hover{
    background: #d18b0a;
    border-radius: 10px;
    transition: .5s;
    transform: translateY(-20px);
}

.inner-contact img{
    width: 100px;
}
.inner-contact img:hover{
    transition: .5s;
    transform: translateY(-20px);
}
.inner-review i{
    position: absolute;
    font-family: 3rem;
    left: 0;
    top: 1rem;
    color:#d18b0a;
}
.inner-contact p{
    font-size: 2rem;
    padding: 1.5rem 3rem;
}
/* .thank-you h1{
    font-size: 40px;
    text-align: center;
    margin-top: -1.4em;
    font-family: 'Dancing Script', cursive;
    color:black;
    font-style: italic;
    overflow: hidden;  /*Ensures that content is not revealed until the animation*/
    /* border-right: 0.1rem solid black;
    white-space: nowrap;   Keeps content on a single line */
    /* animation: typing 1s steps(20, end), blink-caret .5 062001s step-end infinite; */
 
/* @keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
} */ 

footer{
    background:white;
    padding-top: 50px;
    display: flex;
}
.container{
    width: 700rem;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 2px dotted black;
}
.footer-content{
    width: 50%;
    padding: 20px;
}
.footer-content h2{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
    color: #d18b0a;
}
.footer-content p{
    width: 400px;
    margin-left: 50px;
    margin-top: -20px;
    margin-bottom: 1px;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    justify-content:center;
    font-weight: bolder;
    font-style: italic;
}
.footer-content span{
    font-style: normal;
    font-weight: 300;
}
.footer-content ul{
    text-align: center;
}
.thank-you{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:#222533;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    overflow: hidden;
    /* margin: 0 auto; */
    letter-spacing: 0.1em;
    white-space: nowrap;
    animation: typing 1s forwards, blink-caret 0.75s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret{
    from, to{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
}
footer{
    width: 100%;
    text-align:center;
    padding: 20px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
.bottom-bar p{
    margin-left: 25em;
}









@media (max-width:767px) {
    html{
        font-size: 55%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .nav{
        position: absolute;
        top: 100%;
        width: 80%;
        left: 10%;
        top: -1000%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        transition: .5s;
    }
    .nav a{
        color: black;
        display: block;
        margin: 1rem;
        font-size: 14px;
    }
    .search-form{
        width: 90%;
    }
    .inner-back-text{
        width: 100% !important;
    }
    .inner-welcome img{
        margin-top: 20px;
        text-align: center;
        }
        .chose-text{
            padding: 1rem 2rem;
         
        }
}